[submodule "deployment_scripts/puppet/modules/manila"]
	path = deployment_scripts/puppet/modules/manila
	url = http://git.openstack.org/openstack/puppet-manila.git
	branch = stable/mitaka
[submodule "repositories/python/manila-ui"]
	path = repositories/python/manila-ui
	url = http://git.openstack.org/openstack/manila-ui.git
	branch = stable/mitaka
[submodule "repositories/python/python-manilaclient"]
	path = repositories/python/python-manilaclient
	url = http://git.openstack.org/openstack/python-manilaclient.git
	branch = stable/mitaka
[submodule "repositories/python/manila"]
	path = repositories/python/manila
	url = http://git.openstack.org/openstack/manila.git
	branch = stable/mitaka
[submodule "plugin_test/fuel-qa"]
	path = plugin_test/fuel-qa
	url = http://git.openstack.org/openstack/fuel-qa.git
	branch = stable/mitaka
