- id: manila-start
  type: puppet
  groups: [primary-controller, controller]
  version: 2.1.0
  cross-depends:
    - name: deploy_start
  cross-depended-by:
    - name: deploy_end
  parameters:
    puppet_manifest: "puppet/manifests/notify.pp"
    puppet_modules: "."
    timeout: 3600

- id: manila-hiera
  type: puppet
  groups: [primary-controller, controller]
  version: 2.1.0
  requires: [hiera]
  required_for: [manila-keystone]
  cross-depends:
    - name: manila-start
  cross-depended-by:
    - name: deploy_end
  parameters:
    puppet_manifest: "puppet/manifests/populate_hiera.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 3600

- id: manila-keystone
  type: puppet
  groups: [primary-controller, controller]
  version: 2.1.0
  requires: [manila-hiera]
  required_for: [manila-db]
  cross-depends:
    - name: manila-hiera
  cross-depended-by:
    - name: deploy_end
  parameters:
    puppet_manifest: "puppet/manifests/keystone.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 3600

- id: manila-db
  type: puppet
  groups: [primary-controller]
  version: 2.1.0
  required_for: [manila-main]
  requires: [primary-database, database, manila-hiera]
  condition:
    yaql_exp: >
      changedAny($.mysql, $.network_metadata.vips, $.get('database_vip'))
  cross-depends:
    - name: /^(primary-)?database$/
  cross-depended-by:
    - name: deploy_end
  parameters:
    puppet_manifest: "puppet/manifests/db.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 3600

- id: manila-install
  type: puppet
  groups: [primary-controller, controller]
  version: 2.1.0
  required_for: [manila-main]
  requires: [manila-db]
  parameters:
    puppet_manifest: "puppet/manifests/install.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 3600



- id: manila-main
  type: puppet
  groups: [primary-controller, controller]
  version: 2.1.0
  cross-depends:
    - name: manila-db
  cross-depended-by:
    - name: deploy_end
  parameters:
    puppet_manifest: "puppet/manifests/site.pp"
    puppet_modules: "puppet/modules:/etc/puppet/modules"
    timeout: 3600
